@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");

body {
	height: 100%;
	position: relative;
	background: url(../img/space.jpg) center / cover repeat-y;
	
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	
}


.position__ufo {
	position: fixed;
	top: 80px;
	left: 20px;
	z-index: 5;
}
.position__ufo img {
	width: 200px;
	
}
.position__ufo2 {
	position: fixed;
	top: 600px;
	right: 120px;
	z-index: 5;
}
.position__ufo2 img {
	width: 200px;
	
}
body::before {
	content: "";
	display: inline-block;
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.2;
}

[class*="__container"] {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 10px;
}
.position__container{
	

}
.header {
	width: 100%;
	background-color: rgba(128, 128, 128, 0.774);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	padding: 5px 0;
}


.header__navi {
}
.header__items {
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
}
.header__items>li:not(:last-child) {
	margin-right: 30px;
}
.header__items p:last-of-type {
	color: aliceblue;
}
.header__item {
	display: inline-block;
	
	
}
.header__item--one:hover .sub-menu{
	visibility: visible;

}
.header__link {
	display: inline-block;
	padding: 10px 5px;
	background-color: red;
	border: 1px solid transparent;
	border-radius: 15px;
}
.header__link:hover {
	background-color: rgb(238, 83, 83);
	border: 1px solid black;
}

.header__item--one {
	position: relative;	
}

.sub-menu{
	padding-top: 3px;
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 180px;
	visibility: hidden;
	
	
}

.sub-menu__link{
	background-color: blueviolet;
	border: 1px solid transparent;
	display: block;
	color: black;
	padding: 10px 0;
	text-align: left;
	
}
.sub-menu__link:hover {
	background-color: rgb(162, 101, 219);
	border: 1px solid black;
	
}

.sub-menu__item--test{
	position: relative;
}
.sub-menu__item--test:hover .test {
	visibility: visible;
}
.test{
	position: absolute;
	min-width: 100px;
	text-align: left;
	top: 0;
	left: 100%;
	visibility: hidden;
	padding-left: 3px;
	

}
.test__item{
	vertical-align: top;
}
.test__link{
	display: block;
	
	border: 1px solid transparent;
	padding: 10px 5px;
	background-color: yellowgreen;
}
.test__link:hover {
	background-color: rgb(162, 197, 90);
	border: 1px solid black;
}
/* ------------------MAIN------------------ */
.main {
	padding-top: 70px;
	color: aliceblue;
}

/* ----------------------GENERAL PROPERTIES------------- */

.main__position {
}
.position {
}
.position__container {
}
#position__body {
	padding: 20px 10px;
	text-align: center;
	font-size: 20px;
	border: 5px solid hotpink;
	border-radius: 20px;
	background-color: rgba(0, 255, 255, 0.205);
}
.position__body>*:not(:last-child) {
	margin-bottom: 30px;
}
.position__title {
}
.box-position {
	text-align: left;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	text-transform: uppercase;
	line-height: 1.2;
}
.position__static {
}
.box-position__subtitle {
	text-align: center;
	padding: 20px 0;
	text-decoration:underline;
	text-transform: uppercase;
	font-size: 30px;
	color: black;

}

.box-position__theory {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	background-color: rgba(14, 99, 99, 0.616);
	max-width: 500px;
	border: 1px solid hotpink;
	border-radius: 5px;
	padding: 5px;
	font-size: 18px;
}
.box-position__theory span {
	text-transform: uppercase;
	font-size: 22px;
	text-decoration: underline;
	
}
.box-position__practice {
	display: inline-block;
	border: 1px solid hotpink;
	border-radius: 5px;
	padding: 5px;
	background-color: rgba(14, 99, 99, 0.616);
	max-width: 620px;
}
.practice-position {
}
.practice-position__block1,
.practice-position__block2,
.practice-position__block3{
	margin: 10px;
	background-color: black;
	text-align: center;
	padding: 30px 0;
	width: 583px;
}
.practice-position__block1 {
	position: static;
	
}

.practice-position__block2 {
}
.practice-position__block3 {
}

/* --------------STATICK--------------- */
.practice-position__body--statick {

}
.practice-position__block1--statick {
}
.practice-position__block2--statick {
}
.practice-position__block1--statick {
}


/* ------------------RELATIVE----------------- */

.practice-position__body--relative {

}
.practice-position__block1--relative {
	position: relative;
	top: -30px;
	left: 0;
}
.practice-position__block2--relative {
	position: relative;
	top: 30px;
	left: 10px;
	background-color: rebeccapurple;
	z-index: 2;
	
	
}
.practice-position__block3--relative {
	position: relative;
}



/* -------------ABSOLUT--------------- */

.practice-position__body--absolut {
	position: relative;

}
.practice-position__block1--absolut{
	position: absolute;
	background-color: red;
	top: 20px;
	left: -900px;
}
.practice-position__block2--absolut{
	position: relative;
	z-index: 2;
	
}
.practice-position__block3--absolut{
	background-color: orange;
	position: absolute;
	top: 50px;
	left: 0;
	
	
}

/* -----------------STICKY------------------- */

.practice-position__block1--sticky {
	position: sticky;
	top: 52px;
	
	
}
.practice-position__block2--sticky {
	position: sticky;
	top: 52px;
}  
.practice-position__block3--sticky {
	
}



/* ---------------HOMEWORK---------------- */



.main__homework {
}
.homework {
}
.homework__container {
}
.homework__body {
	font-size: 0;
}
#homework__title {
	text-align: center;
	padding: 40px 0;
	text-decoration:underline;
	text-transform: uppercase;
	font-size: 30px;
	color: black;
	
}
.homework__box {
}
.homework__items>:not(:last-child) {
	margin-bottom: 31px;
}
.homework__item {
	

}
.homework__item>:not(:last-child){
	margin-right: 31px;
}
.item-homework {
}
.item-homework__card {
	position: relative;
	max-width: 386px;
	display: inline-block;
	
}
.item-homework__card:hover::before{
	content: "";
	background-color: rgba(107, 119, 229, 0.7);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.item-homework__hidden{
	visibility: hidden;

}
.item-homework__card:hover .item-homework__hidden{
	visibility: visible;
}
.item-homework__img {
	width: 100%;
	height: 100%;
	overflow: clip;
}

.item-homework__icon {
	position: absolute;
	top: 241px;
	left: 107px;
	

	
}
.item-homework__icon a:not(:last-child){
	margin-right: 13px;
	
}
.item-homework__who {
	background-color: #fff;
	padding: 24px 0px;
	max-width: 341px;
	position: absolute;
	left: 22px;
	bottom: 22px;
	right: 22px;
	text-align: center;
	
	
}
.who {
	
	
}
.who__name {
	color: #37393F;
	font-family: "Poppins";
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 4px;
	
}
.who__jo-title {
	
	color: #7D7D7D;
	font-family: "Inter";
	font-size: 18px;
	font-weight: 400;
	line-height: 1.35;
	
}

.footer{
	padding: 20px 0;
	text-align: center;
}