@import url("reset.css");
@import url("fonts.css");
@import url("header.css");
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}


/* ---------------------HEADER------------------ */
/* IMPORT */


.main {
	flex: 1 1 auto;
	padding-top: 120px;
}


.popular {
}
.popular__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	
}
.popular__body {
	position: relative;
}
.popular__title {
	color: #000;
	margin-bottom: 27px;
}
.title {
	font-family: "DM Serif Text";
	font-size: 58px;
}
.popular__subtitle {
	color: #606060;
	font-family: "Inter";
	font-size: 20px;
	line-height: 1.8;
	margin-bottom: 10px;
}
.popular__subtitle:not(:last-child) {
	margin-bottom: 50px;
}
.popular__cards {
	display: flex;
	margin: 0 -24px;
}
.popular__card {
	padding: 0 24px;
	flex: 0 1 33.333%;
}
.card {
}
.card__img {
	margin-bottom: 8px;
	position: relative;
	
}
.card__img img {
	width: 100%;
	height: 100%;
	aspect-ratio: 357/240;
	object-fit: cover;

}
.card__img::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100% ;
	background-color: #fff;
	opacity: 0;
}
.card__img:hover::before{
	opacity: 0.2;
}
.card__title {
	color: #000;
	font-family: "DM Serif Text";
	font-size: 24px;
	line-height: 1.2; 
	margin-bottom: 16px;
}
.card__text {
	color: #000;
	font-family: "Inter";
	font-size: 16px;
	line-height: 1.6;
	opacity: 0.7;
	margin-bottom: 8px;
}
.card__moreinfo {
	display: flex;
	align-items: center;
}
.card__link {
	flex: 1 1 auto;
}
.card__link a{
	color: #F55529;
	font-family: "Inter";
	font-size: 16px;
	font-style: normal;
	font-weight: 800;
	line-height: 1.5; 
}
.card__link:hover a {
	opacity: 0.8;
}
.card__arrow:hover {
	transform: scale(1.1);
	opacity: 0.8;
}
.card__arrow {
	flex: 0 0 24px;
	height: 24px;
	transition: 0.3s;
}
.card__arrow img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
@media (max-width:992px) {
	.main {
		padding-top: 100px;
	}
	.popular__title {
		color: #000;
		margin-bottom: 20px;
	}
	.title {
		font-size: 48px;
	}
	.popular__subtitle:not(:last-child) {
		margin-bottom: 30px;
	}
	.popular__cards {
		margin: 0 -16px;
	}
	.popular__card {
		padding: 0 16px;
		flex: 0 1 33.333%;
	}
	.card__img {

	}
	.card__body {

	}
	.card__title {
		font-size: 20px;
		line-height: 1.2; 
		margin-bottom: 10px;
	}
	.card__text {

		font-size: 14px;
		line-height: 1.6;
		opacity: 0.7;
		margin-bottom: 8px;
	}
	.card__moreinfo {
		display: flex;
		align-items: center;
	}
}
@media (max-width:660px) {
	.main {
		padding-top: 90px;
	}
	.popular__title {
		color: #000;
		margin-bottom: 10px;
	}
	.title {
		font-size: 42px;
	}
	.popular__subtitle:not(:last-child) {
		margin-bottom: 20px;
	}
	.popular__cards {
		flex-direction: column;
	}
	.popular__card {	
		flex: 0 1 100%;
		display: flex;
		margin: 0 -20px;
		
	}
	.card__img {
		padding: 0 10px;
		flex: 0 1 60%;
	}
	.card__body {
		padding: 0 10px;
		flex: 0 1 40%;
	}
	.card__title {
		font-size: 20px;
		line-height: 1.2; 
		margin-bottom: 10px;
	}
	.card__text {

		font-size: 14px;
		line-height: 1.6;
		opacity: 0.7;
		margin-bottom: 8px;
	}
	.card__moreinfo {
		display: flex;
		align-items: center;
	}
}
@media (max-width:660px) {
	.main {
		padding-top: 90px;
	}
	.popular__title {
		color: #000;
		margin-bottom: 10px;
	}
	.title {
		font-size: 42px;
	}
	.popular__subtitle:not(:last-child) {
		margin-bottom: 20px;
	}
	.popular__cards {
		flex-direction: column;
	}
	.popular__card {	
		flex: 0 1 100%;
		display: flex;
		flex-direction: column;
		margin: 0 -20px;
		
	}
	.popular__card:not(:last-child){
		margin-bottom: 20px;
	}
	.card__img {
		padding: 0 10px;
		flex: 0 1 60%;
	}
	.card__body {
		padding: 0 10px;
		flex: 0 1 40%;
	}
	.card__title {
		font-size: 20px;
		line-height: 1.2; 
		margin-bottom: 10px;
	}
	.card__text {

		font-size: 14px;
		line-height: 1.6;
		opacity: 0.7;
		margin-bottom: 8px;
	}
	.card__moreinfo {
		display: flex;
		align-items: center;
	}
}

.footer{

}
