@import url("reset.css");
@import url("fonts.css");
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

[class*="__container"]{
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	
}
.header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:darkolivegreen;
	z-index: 3;
}
.header__container {
	
}
.header__block {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 70px;
	
}
.header__logo {
	font-size: 30px;
	position: relative;
	z-index: 5;
}
.header__burger {
	position: relative;
	z-index: 5;
}
.header__menu {
	
	
	
}
.menu {
}
.menu__items {
	display: flex;
	column-gap: 30px;
	font-size: 26px;
	
	
}
.menu__item {
	position: relative;
	z-index: 4;
}
.menu__item--submenu {
	position: relative;
}
.menu__link {
}
.menu__submenu {
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
	pointer-events: none;
}
.submenu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 150px;
	height: auto;
	padding-top: 10px;
	
}
.submenu__item {
	
	background-color: #f37777;
}
.submenu__link {
	width: 100%;
	padding: 5px 2px;
}
.submenu__link:hover {
	color: red;
}
.menu__item--submenu:hover .menu__submenu {
	visibility: visible;
	opacity: 1;
	pointer-events: all
}



@media (max-width:767px) {
	.header__burger{
		width: 60px;
		height: 30px;
		position: relative;
		z-index: 5;
	}
	.header__burger::before,
	.header__burger::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		background-color: black;
		
	}
	.header__burger::before {
		top: 0;
	}
	.header__burger::after {
		bottom: 0;
	}
	.header__burger span::before{
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 14px;
		background-color: black;
	}
	.menu__items {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(221, 98, 98);
		flex-direction: column;
		align-items: flex-end;
		padding: 100px 10px 0 0 ;
		font-size: 35px;
		text-transform: uppercase;
		row-gap: 15px;
		overflow: auto;
		transition-duration:0.2s;
	}
	.active .menu__items {
		left: -100%;
	}
	.menu__items: {
		row-gap: 0px;
	}
	.submenu {
		position: relative;
		visibility: visible;
		opacity: 1;
		top: 0;
		left: 0;
		font-size: 25px;
		width: 100%;
		padding-top: 3px;
		text-align: right;
		transition: 0s;
	}
	.submenu__item {

	}
	.menu__item--submenu {
		width: 100%;
	}
	
	.menu__link--submenu {
		display: flex;
		justify-content: end;
	}
	.header__block {
		min-height: 60px;
	}

}


.main {
	padding-top: 100px;
}