@import url("reset.css");
@import url("fonts.css");

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.main{
	flex: 1 1 auto;
	/* padding-top: 100px; */
	display: flex;
	flex-direction: column;
}


[class*="__container"] {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.active body {
	overflow: hidden;
}
/* -----------HEADER------------- */
.header {
	background-color: #FEFBF7;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	
}
.header::before{
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: gray;
	z-index: 3;
	transition: 0.2s;
}
.active .header::before {
	left: 0;
}

.header__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	position: relative;	
}
.header__logo {
	color: #000;
	font-family: "Merriweather";
	font-size: 30px;
	font-style: italic;
	font-weight: 700;
	position: relative;
	z-index: 5;
}
.header__menu {
	padding: 0 10px;
	z-index: 5;
}
.header__items {
	display: flex;
	row-gap: 10px;
	column-gap: 36px;
	flex-wrap: wrap;

}
.header__item {
	display: flex;
	column-gap: 10px;
	align-items: center;
	position: relative;
}
.header__link {
	color: #000;
	font-family: "Merriweather";
	font-size: 20px;
	font-weight: 400;
}
.header__link--home {
	color: #D58417;
	text-decoration: underline;
	transition: color 0.3s;
}
.header__link--home:hover {
	color: #000;
}
.header__link--arrow {
	display: flex;
	align-items: center;
	column-gap: 4px;
	
}
.header__link--arrow::after {
	content: "";
	width: 12px;
	height: 6px;
	background: url("../img/header/icons/arrow.png") center / contain no-repeat;
	position: relative;
	top: 2px;
	
}
.header__link--arrow:hover::after,
.header__item--shop:hover .header__link--arrow::after {
	transform: rotateZ(180deg);
}

.sub-menu {
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 100px;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
	pointer-events: none;
	
}
.header__item--shop:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	pointer-events: all;
}
.sub-menu__items {
	padding-top: 10px;
	cursor: pointer;
}
.sub-menu__item {
	
}
.sub-menu__link {
	color: #000;
	font-family: "Merriweather";
	font-size: 20px;
	font-weight: 400;
	padding: 3px 0;
	width: 100%;
	background-color: rgb(192, 190, 163);
}

.header__icons {
	display: flex;
	align-items: center;
	column-gap: 25px;
	position: relative;
	z-index: 5;
}
.header__icon {
	position: relative;
	transition:transform 0.3s;
	flex: 0 0 32px;
}
.header__icon img {
	max-width: 100%;
}
.header__icon span {
	position: absolute;
	top: 0;
	right: 0;
	width: 12px;
	height: 12px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(255, 51, 51, 1);
	border-radius: 50%;
	font-size: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__icon:first-child span {
	right: -3px;
}
.header__icon:hover {
	transform: scale(1.1);
}

@media (max-width: 992px) {
	.header__body {
		height: 80px;	
	}
	.header__logo {
		flex: 0 1 90px;
		font-size: 24px;

	}
	.header__items {
		column-gap: 25px;
	}
	.header__link {
		font-size: 18px;
	}
	.header__icons {
		column-gap: 10px;
		
	}
}
@media (max-width: 768px) {
	.header__body {
		height: 60px;
	}
	.activ .body {
		overflow: hidden;
	}
	.header__logo {
		flex: 1 1 auto;
		position: relative;
		z-index: 7;
		
	}
	.header__items {
		flex-direction: column;
		align-items: flex-end;
		padding-right: 10px;
		
	}
	.header__link {
		font-size: 30px;
		
	}
	.header__item:not(:last-child) {
		margin-bottom: 10px;
	}
	.header__burger {
		width: 30px;
		height: 20px;
		position: relative;
		
		position: relative;
		z-index: 5;
		
	}

	.header__burger::before,
	.header__burger::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: black;
		left: 0;
		transition: 0.2s;
	}
	.header__burger::before{
		top: 0;
	}
	.header__burger::after {
		bottom: 0;
	}
	.header__burger span {
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: black;
		top: 9px;
		left: 0;
		transition: 0.2s;
	}
	.active .header__burger::before{
		transform: rotate(45deg);
		top: 50%;
		margin-top: -1px;
	}
	.active .header__burger::after{
		transform: rotate(-45deg);
		bottom: 50%;
		margin-bottom: -1px;
	}
	.active .header__burger span {
		scale: 0;
	}
	.header__menu {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		background-color: rgb(101, 117, 85);
		padding-top: 80px;
		z-index: 2;
		transition: 0.2s;
		
	}
	.active .header__menu{
		right: 0;
	}
	.header__item--shop {
		display: block;
	}
	.sub-menu {
		opacity: 1;
		visibility: visible;
		position: relative;
		
	}
	.header__logo {
	
	}
	.header__icons {
		margin-right: 20px;
	}
}



/* --------------JEWELLERY---------------- */

.jewellery {
	background-color: #502203;
	font-family: "Cormorant Infant";
	color: #fff;
	height: 100vh;
	display: flex;
	
}
.jewellery__container {
	flex: 1 1 auto;
	position: relative;
}
.jewellery__body {
	display: flex;
	justify-content: center;
	padding-top: 130px;
	position: relative;
	
}
.jewellery__left-clock {
	position: absolute;
	top: 57px;
	left: -30px;
	transform: translateX(-100%);
	max-width: 324px;
	

}
.jewellery__title {
	margin-bottom: 9px;
	font-size: 78px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.3;
}
.jewellery__button {
	font-size: 24px;
	font-weight: 600;
	border-radius: 4px;
	border: 1px solid #FFF;
	border-radius: 4px;
	padding: 15px 25px;
	position: relative;
	z-index: 5;
}
.jewellery__button::before {
	position: absolute;
	content: "";
	top: 12px;
	left: -8px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 4px;
	background: rgba(255, 255, 255, 0.06);
	transition: 0.3s;
	pointer-events: none;
}
.jewellery__button:hover::before{
	top: 0px;
	left: 0px;
}
.jewellery__img {
	border-radius: 215px;
	border: 1px solid #fff;
	padding: 28px 20px;
	max-width: 430px;
	position: relative;
	
}
.jewellery__img img {
	border-radius: 195px;
	max-width: 100%;
	
}
.jewellery__right-block {
	position: absolute;
	top: 76px;
	right: -23px;
	transform: translateX(100%);
	display: flex;
	flex-direction: column;
}
.jewellery__text {
	font-size: 22px;
	font-weight: 700;
	line-height: 1.48;
	max-width: 312px;
}
.jewellery__item {
	position: relative;
	margin-top: 176px;
	align-self: flex-end;
	font-size: 32px;
	font-style: normal;
	

}
.jewellery__item::before {
	
	position: absolute;
	content: "";
	top: 10%;
	left: -10px;
	width: 1px;
	height: 80%;
	background-color: #fff;
}

.girl-left,
.line-right,
.girl-right,
.line-left{
display: none;
}

.line-right {

}
@media (min-width:1500px) {
	.girl-left {
		display: inline-block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 240px;
		height: 215px;
		border-radius: 195px 195px 0px 0px;
		object-fit: cover;
		transform: translateX(-70%);
	}
	.girl-left img {
		max-width: 100%;
		border-radius: 195px 195px 0px 0px;
		position: relative;
		
		
		
	}
	.girl-left::before{
		content: "";
		position: absolute;
		top: -6px;
		left: -5px;
		width: 100%;
		height: 100%;	
		border: 1px solid #fff;
		border-radius: 195px 195px 0px 0px;
		
	}

	.line-left {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		
	}
	.line-right {
		display: block;
		position: absolute;
		top: 150px;
		left: 100%;
		transform: translateX(-100%);
	}
	.girl-right {
		display: block;
		position: absolute;
		top: 357px;
		left: 100%;
		transform: translateX(-100%);
		border: 1px solid #fff;
		border-radius: 195px 0 0 195px;
		padding:17px 0 17px 12px;
	}
	.girl-right img {
		border-radius: 195px 0 0 195px;
	}
}
@media (max-width:1200px) {
	.jewellery {
	}
	.jewellery__container {
	}
	.jewellery__body {
		justify-content: flex-start;	
	}
	.jewellery__left-clock {
		top: 160px;
		left: 220%;
		max-width: 324px;
	}
	.jewellery__right-block {
		top: 50px;
		right: -40px;
	}
	.jewellery__item {
		margin-top: 350px;
	}
}

@media (max-width:992px) {
	.jewellery {
	}
	.jewellery__container {
	}
	.jewellery__body {
		justify-content: flex-start;	
	}
	.jewellery__title {
		font-size: 65px;
		line-height: 1.3;
	}
	.jewellery__left-clock {
		top: 170px;
		left: 175%;
		max-width: 324px;
		
	}
	.jewellery__right-block {
		top: 50px;
		right: -10px;
	}
	.jewellery__item {
		margin-top: 350px;
	}
}

@media (max-width:768px) {
	.jewellery {
	}
	.jewellery__container {
		padding: 0 15px 0 0;
	}
	.jewellery__body {
		justify-content: flex-start;	
		padding-top: 170px;
	}
	.jewellery__img {
		transform: translateX(-50%);

	}
	.jewellery__img img {
	
	}
	.jewellery__title {
		font-size: 45px;
		line-height: 1.2;
	}
	.jewellery__left-clock {
		left: 150%;
		max-width: 324px;	
		z-index: 2;
	}
	.jewellery__right-block {
		top: -60px;
		right: 100px;
	}
	.jewellery__item {
		margin-top: 450px;
	}

}




/* -----------------DESIGN----------------- */

.design {

}
.design__container {
}
.design__body {
	display: flex;
	margin: 0 -43px;
	padding: 70px 0;
}
.design__info {
	padding: 0 43px;
	flex: 0 0 50%;
}
.design__title {
	color: #0E333D;
	font-family: "DM Serif Text";
	font-size: 78px;
	line-height: 1.27;
	margin-bottom: 32px;
	padding-top: 70px;
}
.design__text {
	color: #727272;
	font-family: "Inter";
	font-size: 22px;
	line-height: 1.48;
	margin-bottom: 48px;
}
.design__text>p:not(:last-child) {
	margin-bottom: 10px;
}
.design__buttons {
	display: flex;
	column-gap: 47px;
	align-items: center;
}
.design__button {

}
.design__button-shop {
	color: #FFF;
	font-family: "DM Serif Text";
	font-size: 28px;
	padding: 10px 44px;
	border-radius: 5px;
	background: #0E333D;
	transition: 0.3s;
}
.design__button-shop:hover {
	color: #FFF;
	background: #502203;
}
.design__button-video {
	color: #0E333D;
	font-family:"DM Serif Text";
	font-size: 28px;
	text-decoration-line: underline;
}
.design__button-video:hover {
	text-shadow: 1px 1px 10px #502203;
}
.design__logos {
	padding: 0 43px;
	flex: 0 0 50%;
	display: flex;
	column-gap: 32px;
}
.design__logo {
	position: relative;
	max-height: 468px;
}
.design__logo::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	transition: opacity 0.3s;
}
.design__logo:hover::before{
	opacity: 0.2;
	
}
.design__logo img {
	width: 100%;
	height: 100%;
	aspect-ratio: 245.6 /  267.7;
	object-fit: cover;
}
.design__logo--down {
	transform: translateY(70px);
}

@media (max-width: 992px) {
	.design__body {
		display: flex;
		margin: 0 -30px;
		padding: 50px 0;
	}
	.design__info {
		padding: 0 30px;
		flex: 0 0 50%;
	}
	.design__title {
		color: #0E333D;
		font-family: "DM Serif Text";
		font-size: 70px;
		line-height: 1.1;
		margin-bottom: 32px;
		padding-top: 20px;
	}
	.design__text {
		color: #727272;
		font-family: "Inter";
		font-size: 20px;
		line-height: 1.2;
		margin-bottom: 48px;
	}
	.design__buttons {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		
	}

}

@media (max-width: 768px) {
	.design__body {

		padding: 0;
		position: relative;
	}
	.design__info {

		flex: 0 0 100%;
	}
	.design__title {

		font-size: 60px;
		line-height: 1;
		margin-bottom: 32px;
		padding-top: 30px;
	}
	.design__text {
		color: #727272;
		font-family: "Inter";
		font-size: 22px;
		line-height: 1.48;
		margin-bottom: 48px;
	}
	.design__text>p:not(:last-child) {
		margin-bottom: 10px;
	}
	.design__buttons {
		display: flex;
		column-gap: 47px;
		align-items: center;
	}
	.design__button {
		
	}
	.design__button-shop {
		color: #FFF;
		font-family: "DM Serif Text";
		font-size: 28px;
		padding: 10px 44px;
		border-radius: 5px;
		background: #0E333D;
		transition: 0.3s;
		
	}
	.design__button-shop:hover {
		color: #FFF;
		background: #502203;
	}
	.design__button-video {
		color: #0E333D;
		font-family:"DM Serif Text";
		font-size: 28px;
		text-decoration-line: underline;
	}
	.design__button-video:hover {
		text-shadow: 1px 1px 10px #502203;
	}
	.design__logos {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0;
		opacity: 0.2;
		transform: rotate(-35deg);
		z-index: -3;
	}
	.design__logo {
		position: relative;
		max-height: 468px;
	}
	.design__logo::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0;
		transition: opacity 0.3s;
	}
	.design__logo:hover::before{
		opacity: 0.2;
		
	}
	.design__logo img {
		width: 100%;
		height: 100%;
		aspect-ratio: 245.6 /  267.7;
		object-fit: cover;
	}
	.design__logo--down {
		transform: translateY(70px);
	}
}





.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px 0;
}