@import url("reset.css");

.header__search::before {
	content: url('../img/header/icons/navi/search.svg');
	display: inline-block;
		
}

.info-product__navi a:not(:last-child)::after {
	content: ">";
	display: inline-block;
}

.info-product__coment::before{
	content: url('../img/main/product/comment.png');
	display: inline-block;
}

.info-product__link--arrow::after {
	content: url('../img/main/product/arrow.png');
	display: inline-block;
}

.colors-palette__all {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	
}
.colors-palette__all--black {
	background-color: black;
}
.colors-palette__all--yelow {
	background-color: yellow;
}
.colors-palette__all--pink{
	background-color: pink;
}
.colors-palette__all--red {
	background-color: red;
}
.info-product__basket-text{
	background-color: rebeccapurple;
}
.info-product__basket-text::before{
	content: url('../img/main/product/shopping\ cart.png');
	display: inline-block;
}

.possibilities-product__payment::before {
	content: url('../img/main/product/Frame\ 24.png');
}
.possibilities-product__shipping::before {
	content: url('../img/main/product/Frame\ 26.png');
}
.possibilities-product__size-fit::before {
	content: url('../img/main/product/Frame\ 25.png');
}
.possibilities-product__returns::before {
	content: url('../img/main/product/Frame\ 27.png');
}

.subtitle-product::before{
	content: '';
	display: inline-block;
	background: #8A33FD;
	width: 6px;
	height: 28px;
	border-radius: 10px;
	margin-right: 27px;
}

.description-product__link-navi--21::after {
	content: '21';
	display: inline-block;


}

.description-product__link-navi--4::after {
	content: '4';
	display: inline-block;

}