@import url("fonts.css");
@import url("reset.css");



/* ------------ЗАГАЛЬНІ СЕЛЕКТОРИ------------- */

.title {
	font-size: 40px;
	text-transform:uppercase;
	text-shadow: 1px 1px black;
	padding: 10px 0 0 20px;
}

.subtitle {
	font-size: 30px;
	margin-top: 20px;
}

.text {
	font-size: 22px;
	margin-top: 20px;
	line-height: 1.1;
}


.background-img {
	margin-right: 50px;
	border: 1px dashed black;
	flex: 0 1 50%;
}
.content {
	background-color: rgba(156, 156, 167, 0.233);
	border: 1px solid black;
	padding: 10px;
	flex: 0 1 50%;
}

.box {
	display: flex;
	
	padding: 10px;
	background:radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,0.4066001400560224) 49%);
}
/* -------BACKGROUND-------- */


.page__practice >*:last-child {
	margin-bottom: 100px;
}

.practice {
	background: url("../img/20230907_1825492.jpg") 0 0 / cover no-repeat;
	
}
.practice__container {
	max-width: 1620px;
	margin: 0 auto;
	padding: 0 10px;
}
.practice__background {
	
	

}
.practice__background-img {
	background: linear-gradient(94deg, rgba(2,0,36,1) 0%, rgba(9,121,75,1) 24%, rgba(0,212,255,1) 100%);
}

.practice__background-content {
	
}
.background-content p {

}
.subtitle {
	font-size: 30px;
	margin-top: 20px;
}
#background-content__title {

}
.title {
	font-size: 40px;
	text-transform:uppercase;
	text-shadow: 1px 1px black;
	padding: 10px 0 0 20px;
}

.background-content__items {

}

.background-content__item {
	list-style:disc;
	list-style-position: inside;
}


/* ----------BACK-COLOR--------- */



.back__color-img {
	background-color: rebeccapurple;
}


/* ------------IMAGE------------ */

.back__image-img {
	background-image: url("../img/20230907_1825492.jpg");
	background-size: cover;
	
}



/* -------------REPEAT------------- */


.back__repeat-img {
	background-image: url("../img/20230907_1825492.jpg");
	background-size: 300px;
	background-repeat: repeat-x;
}


/* ---------POSITION------------- */


.back__position-img {
	background-image: url("../img/20230907_1825492.jpg");
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: center;
	
}


/* -----------ATTACHMENT-------------- */

.back__attachment-img {
	max-height: 260px;
	background-image:url("../img/20230907_1825492.jpg");
	background-position: 25%  ;
	background-size: 300px;
	background-repeat: no-repeat;
	overflow: auto;
	background-attachment: fixed;

}


/* ------------SIZE------------- */

.back__size-img {
	background-image: url("../img/20230907_1825492.jpg");
	background-size: cover;
	background-position: right;
}


/* ----------UNIK------------- */
.back__unik-img {
	background: url("../img/20230907_1825492.jpg") 0 0 / cover no-repeat;
	
}

  /* -------------------CARED----------------------- */


.cared {
}
.cared__container {
	max-width: 693px;
	margin: 0 auto;
}
.cared__body {
	padding: 0 10px;
}
.cared__body>*:last-child {
	margin-bottom: 100px;
}

.subtitle-hometask {
	font-family: "Inter", sans-serif;
	color: #37393F;
	font-size: 18px;
	font-weight: 500;
	background: url("../img/icons/cared/background_subtitle.png") 0 2px / auto no-repeat;
	padding-left: 18px;
	margin-bottom: 20px;

	
}
.title-hometask {
	color: #37393F;
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.21;
	margin-bottom: 20px;
}
.text-hometask {
	color: #7D7D7D;
font-family: "Inter", sans-serif;
font-size: 18px;
line-height: 1.46;
margin-bottom: 20px;
}
.text-hometask p:not(:last-child) {
	margin-bottom: 15px;
}
.cared__items {
	color: #37393F;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	margin-bottom: 43px;
	
}
.cared__item {
	line-height: 1.5;
	padding-left: 35px;
	background: url("../img/icons/cared/background_li.svg") 0 3px / auto no-repeat;
}
.cared__item:not(:last-child) {
	margin-bottom: 15px;
}

.cared__icons {
	max-width: 613px;
	margin: 0 auto;
	font-size: 0;
}
.cared__icon-body {
	
}
.icon-body {
	display: inline-block;
	max-width: 295px;
	padding: 30px;
	
}
.icon-body-pad {
	margin-left: 21px;
	padding: 31px 30px ;
}
.icon-body__img {
	display: inline-block;
	margin-right: 19px;
	vertical-align: top;
}
.icon-body__content {
	display: inline-block;
	max-width: 173px;
}
.icon-body__title {
	color: #37393F;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 3px;
	line-height: 1.5;
}
.icon-body__text {
	color: #7D7D7D;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	line-height: 1.35;
}



/* -------------DISCOVER----------------- */

.discover {
}
.discover__container {
	max-width: 1240px;
	margin: 0 auto;
}
.discover__header {
	padding: 0 10px;
	text-align: center;
	max-width: 852px;
	margin: 0 auto;
}
.discover__header>*:not(:last-child) {
	margin-bottom: 14px;
}
.discover__subtitle {
font-family: "Inter", sans-serif;
color: #37393F;
font-size: 18px;
font-weight: 500;
}
.discover__subtitle::before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color:#40DDB6;
	margin-right: 6px;
}



.discover__body {
	margin-top: 47px;
	;
}
.discover__items {
	font-size: 0;
	padding: 0 10px;
}
.discover__items .item-discover:nth-child(3n+3) {
	margin-right: 0px;
} 
.discover__items .discover__items__box:not(:last-child) {
	margin-bottom: 58px;
}
.discover__item {
	

}
.item-discover {
	display: inline-block;
	margin-right: 34px;
}

.discover__items__erste {
	margin-bottom: 58px;
}
.item-discover__img {
	background: url("../img/discover/discover_1.jpg") 0 0 / cover no-repeat;
	max-width: 384px;
	margin-bottom: 24px;
	
}

.item-discover__title {
	color: #37393F;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 10px;
}
.item-discover__datum {
	color: #7D7D7D;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	line-height: 1.46;
	background: url("../img/discover/icons/Group\ 22.svg") no-repeat;
	padding-left: 25px;
	min-height: 16px;
}

/* -----------------------------WORK------------------------------ */


.work {
	margin-top: 100px;
}
.work__container {
	max-width: 1240px;
	margin: 0 auto;
}
.work__header {
}
.work__subtitle {
	text-align: center;
	margin-bottom: 16px;
}

.work__title {
	text-align: center;
	margin-bottom: 41px;
}

.work__body {
	padding: 0 10px;	
	font-size: 0;
}
.work__container {

}
.work__body .work__container:not(:last-child) {
	margin-right: 31px;
}

.container-work__1 {
	display: inline-block;
	background: url("../img/work/icons/Icon.png") center top / auto no-repeat;
	max-width: 386px;
	text-align: center;
}
.container-work__2 {
	display: inline-block;
	background: url("../img/work/icons/Icon\ \(1\).png") center top / auto no-repeat;
	max-width: 386px;
	text-align: center;
}
.container-work__3 {
	display: inline-block;
	background: url("../img/work/icons/Icon\ \(2\).png") center top / auto no-repeat;
	max-width: 386px;
	text-align: center;
}


.container-work__contant {
	padding: 94px 43px 58px 43px;
	
}
.container-work__title {
	color: #37393F;;
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 16px;
}

.container-work__text {
	margin-bottom: 37px;
	color: #7D7D7D;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	line-height: 1.46;

}


.container-work__link {
	color: #6B77E5;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
	display: inline-block;
}
.container-work__link:hover {
	text-decoration: underline;
}



/* ---------------FASHION------------- */

.fashion {
}
.fashion__container {
	max-width: 1460px;
	margin: 0 auto;
	
}
.fashion__body {
	padding: 0 10px;
	margin: 100px;
	font-size: 0;
	color: #fff;
}
.fashion__plant {
	display: inline-block;
	background: url("../img/fashion/back_1.png") no-repeat;
	max-width: 614px;
	
}
.fashion__people{
	vertical-align: top;
	display: inline-block;
	
}
.fashion__contant {
	padding: 183px 74px 372px 74px;
	margin: 0 auto;
	
}
.fashion__title {
	font-family: "CoreSansC", sans-serif;
	font-size: 34px;
	font-style: normal;
	font-weight: 800;
	line-height: 50px;
	letter-spacing: 0.2px;
	margin-bottom: 30px;
	
}
.fashion__text {
	font-family: "Causten", sans-serif;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1px;
	margin-bottom: 50px;
}
.fashion__button a{
	color: #3C4242;
	font-family: "Causten", sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding: 12px 44px;
	background-color: #fff;
	border-radius: 8px;
}
.fashion__button a:hover {
	background-color: #3C4242;
	color: #fff;
}